body {
    font-family: 'Oxygen', sans-serif;
}
 
input[type=text] {
    font-family: 'Oxygen', sans-serif;
}

a {
	outline: 0 !important;
}

.bold {
	font-weight: bold;
}

.rank {
	text-align: right;
}

.color-label {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
}

.label-big {
	font-size: 82% !important;
}

.icon-external img {
	width: 16px;
	height: 13px;
}

#icon-brand {
	color: #f89406;
}

.song-general-info div {
	padding-top: 4px;
	padding-bottom: 4px;
}

#history-dp {
	display: inline-block;
	padding: 0px 16px 0px 16px;
}

#btn-record-type-control {
	display: none;
}

#btn-record-type-cancel {
	margin-right: 12px;
}

#record-type-order .ui-sortable-handle {
	background-color: #d9edf7;
}

.ui-sortable-handle:hover {
	cursor: move;
}

/* --- datepicker z-index (otherwise it is not visible in modal window) --- */
.datepicker {
	z-index: 1150 !important;
}

.date-picker {
	width: 96px;
}

#pickdate {
	display: inline !important;
}

/* ---- STAR RATING ---- */
.star-rating span {
	color: #f9bf3b;
}

.half-star {
	position: relative;
}

.half-star:after {
	content: '';
    position: absolute;
    z-index: 1;
    background: white;
    width: 50%;
    height: 100%;
    left: 47%;
}
/* --------------------- */

/* ---- COLORS ---- */
.label-brown {
	background-color: brown;
}

.label-coral {
	background-color: coral;
}

.label-cornflowerblue {
	background-color: cornflowerblue;
}

.label-crimson {
	background-color: crimson;
}

.label-green {
	background-color: green;
}

.label-maroon {
	background-color: maroon;
}

.label-orange {
	background-color: orange;
}

.label-tomato {
	background-color: tomato;
}
/* --------------- */