body {
    font-family: 'Oxygen', sans-serif;
}
 
input[type=text] {
    font-family: 'Oxygen', sans-serif;
}

a {
	outline: 0 !important;
}

.bold {
	font-weight: bold;
}

.rank {
	text-align: right;
}

.icon-external img {
	width: 16px;
	height: 13px;
}

#icon-brand {
	color: #f89406;
}

.song-general-info div {
	padding-top: 4px;
	padding-bottom: 4px;
}

#history-dp {
	display: inline-block;
	padding: 0px 16px 0px 16px;
}